/* TRANSACTION VIEW */
.timebank-grid{
display:grid; grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr; padding:10px; gap:15px; 
}
.timebank-grid > div:nth-child(8) { display: none; }

/* Mobile grid design */
@media (max-width:990px){
    .timebank-grid{
        grid-template-columns:1fr 70px 40px; padding:10px; gap:15px; 
    }
    .timebank-grid > div:nth-child(1){ display:none; }
    .timebank-grid > div:nth-child(2){ display:none; }
    .timebank-grid > div:nth-child(5) { display: none; }
    .timebank-grid > div:nth-child(6) { display: none; }
    .timebank-grid > div:nth-child(7) { display: none; }
    .timebank-grid > div:nth-child(8) { display: block; }
}

/* TIMEBANK NEW PAYMENT VIEW */
#timebank_payment{
    grid-template-columns: repeat(3, 1fr);
}
#timebank_payment > div{
    padding:5px;
}
@media (max-width:990px){
    #timebank_payment{
        grid-template-columns: 1fr; 
    }
}